@import url(reset.css);
html,
body,
.order {
  width: 100%;
  height: 100%;
  background: none;
}
.order {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
}
header {
  width: 100%;
  height: 4rem;
  background: #4194f0;
}
header {
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: row;
  position: relative;
}
header .s_t {
  position: absolute;
  left: 13px;
  top: 13px;
}
header .s_t img {
  width: auto;
  height: 2.1rem;
  background: none;
}
header .h_1 {
  -webkit-box-flex: 1;
  text-align: center;
  margin-left: 1rem;
  color: white;
  font-size: 1.6rem;
  line-height: 4rem;
}
section {

  overflow-y: auto;
  -webkit-box-flex: 1;
  background: #f2f5f7;
}
section > div {
  width: 100%;
  height: 100%;
  background: none;
  -webkit-box-flex: 1;
}

.or_type {
  width: 100%;
  height: 3.3rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #ccc ;
}
.or_type ul {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 3.3rem;
  background: none;
}
.or_type ul li {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 3.3rem;
}
.or_type ul li a {
  font-size: 1.4rem;
  color: black;
}
.or_type ul .on {
  border-bottom: 2px solid #4194f0 ;
}
.or_oth .oth_one {
  overflow-y: auto;
  padding: 1rem 1rem;
  width: 100%;
  height: 100%;
  background: none;
  box-sizing: border-box;
}
.or_oth .oth_one ul li {
  border: 1px solid #fff;
  line-height: 4rem;
  background: white;
  border-radius: 5px;
  margin-top: 1rem;
}
.or_oth .oth_one ul li a {
  color: #ccc;
  font-size: 1.6rem;
  margin-left: 2rem;
}
.all {
  width: 100%;
  height: 100%;
  background: #f2f5f7;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  overflow-y: auto ;
}
.all::-webkit-scrollbar {
  width: 0;
}
.all .only {
  margin-top: 2rem;
  width: 100%;
  height: 14.6rem;
  background: #ffffff;
  border-left: 2px solid #4194f0;
}
.all .only::-webkit-scrollbar {
  width: 0;
}
.all .only img {
  width: 1.3rem;
  height: auto;
  background: #ffffff;
  margin-right: 1rem;
}
.all .only p {
  border-bottom: 1px solid #F2F5F7;
  position: relative;
  line-height: 3.5rem;
}
.all .only p i {
  position: absolute;
  right: 1rem;
  top: 0;
  color: #959595;
}
.all .only p a {
  font-size: 1.2rem;
  color: #8a8a8a;
  margin-left: 1rem;
}
.all .only p span {
  color: #666666;
  margin-left: 1rem;
}
.all .only .shop_li {
  width: 100%;
  height: 7.4rem;
  background: #f9f9f9;
  border-bottom: 1px solid #F2F5F7;
  position: relative;
}
.all .only .shop_li #rt {
  display: inline-block;
  width: 0.8rem;
  height: 1.6rem;
  background: none;
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.all .only .shop_li #rt img {
  width: auto;
  height: 1.6rem;
  background: none;
}
.all .only .shop_li h2 {
  padding-left: 1rem;
  box-sizing: border-box;
  line-height: 3rem;
  font-size: 1.4rem;
}
.all .only .shop_li h3 {
  padding-left: 3.2rem;
  box-sizing: border-box;
  line-height: 2rem;
}
.all .only .shop_li h3 a {
  margin-right: 1rem;
  letter-spacing: 0.3px;
  color: #939393;
}
.all .only .ones {
  width: 100%;
  height: 3.1rem;
  background: #ffffff;
  border-bottom: 1px solid #F2F5F7;
  padding-top: 0.5rem;
}
.all .only .ones button {
  width: 6.5rem;
  height: 2.3rem;
  background: none;
  float: right;
  margin-right: 2rem;
  border: 1px solid #666666;
  border-radius: 3px;
  color: #666666;
  outline: none;
}
footer {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
footer img {
  width: 2rem;
  height: auto;
  background: none;
  margin-top: 0.5rem;
}
footer dl {
  -webkit-box-flex: 1;
  text-align: center;
}
footer dl a {
  color: #c0c0c0;
}
